params {
    help              = false
    data_dir          = "/scratch/nextflow_odsp/poc/omicsev/example_data/datasets"
    sample_list       = "/scratch/nextflow_odsp/poc/omicsev/example_data/sample_list.tsv"
    x2                = "/scratch/nextflow_odsp/poc/omicsev/example_data/protein.tsv"
    x2_label          = "Protein"
    use_existing_data = true
    data_type         = "gene"
    class_for_ml      = "/scratch/nextflow_odsp/poc/omicsev/example_data/sample_ml.tsv"
    outdir            = "/scratch/nextflow_odsp/poc/omicsev/output/"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory       = '128.GB'
    max_cpus         = 16
    max_time         = '240.h'
}
