params {
    help              = false
    data_dir          = "s3://az-ngs-us-east-1-s3-nftower-poc/omicsev/example_data/datasets/"
    sample_list       = "s3://az-ngs-us-east-1-s3-nftower-poc/omicsev/example_data/sample_list.tsv"
    x2                = "s3://az-ngs-us-east-1-s3-nftower-poc/omicsev/example_data/protein.tsv"
    x2_label          = "Protein"
    use_existing_data = true
    data_type         = "gene"
    class_for_ml      = "s3://az-ngs-us-east-1-s3-nftower-poc/omicsev/example_data/sample_ml.tsv"
    outdir            = "s3://az-ngs-us-east-1-s3-nftower-poc/omicsev/output/"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory       = '128.GB'
    max_cpus         = 16
    max_time         = '240.h'
}
